<ion-header class="ion-text-center ion-no-border  ">
  <ion-toolbar class=" ion-no-border ">
    <ion-buttons routerLink="/inicio" slot="start">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding ion-no-margin">
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row>
      <ion-col size="12" style="text-align:center;margin-top:15px;font-weight:bold">
        <ion-label style="font-size:22px">BIENVENIDO</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="text-align:center;margin-top:3px;">
        <ion-label style="font-size:14px">Para disfrutar de la App inicia sesion primero</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col size="12" style="text-align: center;margin-top: 10px;">
        <img src="../../../assets/Deligo-Principal.png" alt="" width="220px" height="220px" >
      </ion-col>
      <ion-col size="12" text-center class="ion-text-center">
        <form style="margin-top:20px; padding: 20px;" class="ion-no-padding ion-no-margin" [formGroup]="form" (ngSubmit)="login()"
          class="p-3">
          <ion-list>
            <div style="margin-bottom:10px;font-weight:bold; font-size: 15px;">
              <ion-label>INGRESA TUS CREDENCIALES </ion-label>
            </div>
            <ion-item lines="none" class="ion-no-padding ion-no-margin">
              <ion-input clearInput class="ion-no-padding ion-no-margin" formControlName="email" type="text"
                placeholder="Email">
              </ion-input>
            </ion-item>
            <div style="font-size:12px; text-align:left; padding-left:8px"
              *ngIf="getControls['email'].errors && state==false">
              <div class="text-danger" *ngIf="getControls['email'].hasError('required')">
                Este campo es obligatorio
              </div>
            </div>
            <ion-item class="ion-no-padding ion-no-margin" lines="none" style="margin-top: 8px;">
              <ion-input clearInput class="ion-color-input ion-no-padding ion-no-margin" formControlName="password"
                type="password" placeholder="Contraseña">
              </ion-input>
            </ion-item>
            <div style="font-size:12px; text-align:left; padding-left:8px"
              *ngIf="getControls['password'].errors && state==false">
              <span class="text-danger" *ngIf="getControls['password'].hasError('required')">
                Este campo es obligatorio
              </span>
              <span class="text-danger" *ngIf="getControls['password'].hasError('maxlength')">
                Máximo 15 caracteres
              </span>
              <span class="text-danger" *ngIf="getControls['password'].hasError('minlength')">
                Mínimo 8 caracteres
              </span>
            </div>
            <br>
            <ion-button class="ion-no-padding ion-no-margin" expand="block" type="submit">
              <span style="color:#ffffff; font-weight: bold;letter-spacing: 1pt;" routerLink="/perfil">
              Iniciar sesión
            </span>
            </ion-button>
            <div class="mt-2" style="font-family: 'Noto Sans', noto;  margin-right: 1rem;">
              <ion-label style="font-size:12px;font-family: 'Noto Sans', noto;">No estás resgistrado? 
                <a style="color: #ffffff;"
                  routerLink="/registro">Crea una cuenta</a>
              </ion-label>
            </div>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>