<ion-header>
  <ion-toolbar>
    <ion-fab slot="start">
      <ion-fab-button style="--background: #F7881F" (click)="cancel()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-title *ngFor="let i of productos">{{i.descripcion}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div *ngIf="valid==false" style="display: flex; justify-content: center; align-items: center; height: 100%; " >
    <ion-label >{{productos}}</ion-label>
  </div>
  
  <div *ngIf="valid==true">
  <ion-searchbar placeholder="buscar"  (ionChange)="buscar($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>
  <ion-card *ngFor="let i of productos | search: text" style="margin: 10px;padding: 3px;" (click)="openProducto(i.id)" >
    <ion-row>

      <ion-col size="7">

          <ion-row>
            <ion-col size="12" style="text-align: center; font-size: 15px;font-style: unset;">
              <ion-card-title style="font-size:20px ;">{{i.nombre}}</ion-card-title> 
            </ion-col>
            <ion-col size="12">
              <label>Categoria:{{i.categoria}}</label>
            </ion-col>
            <ion-col size="12">
              <label>Tamaño:{{i.peso}} {{i.tipoPeso}}</label>
            </ion-col>
            <ion-col size="12">
              <label>${{i.precio}}</label>
            </ion-col>
          </ion-row>

      </ion-col>

      <ion-col size="5">
      <ion-img [src]="url+i.id+'/'+i.imagen" style="max-width:7rem; max-height: 7rem;"></ion-img>
      </ion-col>

    </ion-row>
  </ion-card>
  

  </div>
</ion-content>