<ion-header>
  <ion-toolbar style="--background: #323232;">
    <ion-item style="--background: #323232;">
      <ion-button routerLink="/perfil" size="small" style="  --background: #242424; --color: #F8F8F8; font-size: 10px;">Calle bolivar, Pasaje 4</ion-button>    
      <ion-avatar slot="end">
        <img  routerLink="/perfil" alt="Perfil usuario" src="./assets/default-user.png" />
     </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row fullscreen scroll-y="false">
    <ion-col size="12">
      <ion-slides>
        <ion-slide>
          <div class="slide">
            <img src="./assets/img/oferts/1.png" />
          </div>
        </ion-slide>
        <ion-slide>
          <img src="./assets/img/oferts/2.png" />
        </ion-slide>
        <ion-slide>
          <img src="./assets/img/oferts/3.png" />
        </ion-slide>
        <ion-slide>
          <img src="./assets/img/oferts/4.png" />
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
<ion-grid >
  <ion-row class="ion-justify-content-around">
    <ion-col size="5">    
      <ion-card>
        <img src="./assets/img/imgCategorias/Restaurante.png"/>
        <div class="card-title">Restaurantes</div>
      </ion-card>
    </ion-col>
    <ion-col size="5" >    
      <ion-card>
        <img src="./assets/img/imgCategorias/Supermercado.png"/>
        <div class="card-title">Supermercados</div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid >
  <ion-row>
    <ion-col>    
      <ion-card>
        <img src="./assets/img/imgCategorias/Mascotas.png"/>
        <div class="card-title">Mascotas</div>
      </ion-card>
    </ion-col>
    <ion-col>    
      <ion-card>
        <img src="./assets/img/imgCategorias/Bebidas.png"/>
        <div class="card-title">Bebidas</div>
      </ion-card>
    </ion-col>
    <ion-col>    
      <ion-card>
        <img src="./assets/img/imgCategorias/Farmacias.png"/>
        <div class="card-title">Farmacias</div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-row fullscreen scroll-y="false">
  <ion-col size="12">
    <ion-slides>
      <ion-slide>
        <div class="slide">
          <img src="./assets/img/oferts/1.png" />
        </div>
      </ion-slide>
      <ion-slide>
        <img src="./assets/img/oferts/2.png" />
      </ion-slide>
      <ion-slide>
        <img src="./assets/img/oferts/3.png" />
      </ion-slide>
      <ion-slide>
        <img src="./assets/img/oferts/4.png" />
      </ion-slide>
    </ion-slides>
  </ion-col>
</ion-row>
<ion-grid >
  <ion-row>
    <ion-col size="2.4" >    
      <ion-button size="small" class="marcas" style="  --background: #323232;">
        <img src="./assets/img/marcas/1.png"/>
      </ion-button>
    </ion-col>
    <ion-col size="2.4">    
      <ion-button size="small" class="marcas" style="  --background: #323232;">
        <img src="./assets/img/marcas/2.png"/>
      </ion-button>
    </ion-col>
    <ion-col size="2.4">    
      <ion-button size="small" class="marcas" style="  --background: #323232;">
        <img src="./assets/img/marcas/3.png"/>
      </ion-button>
    </ion-col>
    <ion-col size="2.4">     
      <ion-button size="small" class="marcas" style="  --background: #323232;">
        <img src="./assets/img/marcas/4.png"/>
      </ion-button>
    </ion-col>
    <ion-col size="2.4">     
      <ion-button size="small" class="marcas" style="  --background: #323232;">
        <img src="./assets/img/marcas/5.png"/>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid >
  <ion-row>
    <ion-col size="2.4" >    
      <ion-button size="small" class="marcas" style="  --background: #323232;">
        <img src="./assets/img/marcas/6.png"/>
      </ion-button>
    </ion-col>
    <ion-col size="2.4">    
      <ion-button size="small" class="marcas" style="  --background: #323232;">
        <img src="./assets/img/marcas/7.png"/>
      </ion-button>
    </ion-col>
    <ion-col size="2.4">    
      <ion-button size="small" class="marcas" style="  --background: #323232;">
        <img src="./assets/img/marcas/8.png"/>
      </ion-button>
    </ion-col>
    <ion-col size="2.4">     
      <ion-button size="small" class="marcas" style="  --background: #323232;">
        <img src="./assets/img/marcas/9.png"/>
      </ion-button>
    </ion-col>
    <ion-col size="2.4">     
      <ion-button size="small" class="marcas" style="  --background: #323232;">
        <img src="./assets/img/marcas/10.png"/>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>