<ion-header>
  <ion-toolbar>
    <ion-title>Ofertas Productos</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content >
 <div *ngFor="let item of producto" (click)="showProducto()">
  <ion-card  >
    <img [src]="url+item.id+'/'+item.imagen" />
    <ion-card-content>
      <ion-card-title>{{item.nombre}}</ion-card-title>
      <ion-item>{{item.precio}}</ion-item>
      <ion-item >{{item.peso}}</ion-item>
      <ion-item>{{item.stock}}</ion-item>
  <!--     <ion-item >PVP: {{item.precioKit}}</ion-item> -->
    </ion-card-content>
  </ion-card>
 </div>
  

</ion-content>
